#image {
width: 100%;
height: auto;
max-width: 625px;
margin-left: auto;
margin-right: auto;
display: block;
}

body{
  margin: 0;
  font-size: 1.6rem;
  line-height: 1.5;
  text-align: center;
  color: #333;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Helvetica Neue", Arial, sans-serif;
}

#main{
  margin: 30px 8px;
  padding: 15px;
  border-radius: 5px;
  background: #eee
}
